extends layout.pug 

block content 
  h1 New Message Form
  form(method="POST" action="/new")
      label(for="user") User: 
      input(type="text" name="user" id="user")
      br
      label(for="message") Message: 
      input(type="text" name="message" id="message")
      br
      button(type="submit") Submit 