@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body .root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 5px solid #3a3a3a;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px 15px #3a3a3a;
}
body .root .heading-bar,
body .root .attribution {
  display: flex;
  justify-content: center;
  padding: 0.1rem 0;
}
body .root .heading-bar h1,
body .root .attribution h1 {
  margin: 0;
  font-size: 2rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
  color: #443470;
}
body .root .attribution {
  background-color: #2F283B;
  padding: 3px 0;
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
body .root .attribution a {
  cursor: pointer;
  color: #c5aac7;
  text-decoration: none;
}
body .root #message-board {
  width: 100%;
  height: 80%;
  padding: 0.2rem 0.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
}
body .root #message-board p {
  padding: 0;
  margin: 0;
}
body .root #message-board #message-chat-area {
  width: 100%;
  min-height: 80%;
  flex: 9;
  padding: 0 0.5rem;
  margin-top: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
body .root #message-board #message-chat-area .message {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
body .root #message-board #message-chat-area .message .message-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
body .root #message-board #message-chat-area .message .message-info .message-user-name {
  font-size: 0.9rem;
  font-weight: 600;
}
body .root #message-board #message-chat-area .message .message-info .message-added-date {
  font-size: 0.7rem;
  font-weight: 400;
}
body .root #message-board #message-chat-area .message .message-text p {
  font-size: 0.9rem;
}
body .root #message-board #user-form {
  width: 100%;
  max-height: 100px;
  padding: 0.8rem 0.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
}
body .root #message-board #user-form .input-fields {
  width: 80%;
  display: flex;
  flex-direction: column;
}
body .root #message-board #user-form .input-fields #form-user-name,
body .root #message-board #user-form .input-fields #form-user-message {
  width: 100%;
  position: relative;
  flex: 1;
}
body .root #message-board #user-form .input-fields #form-user-name .label-user,
body .root #message-board #user-form .input-fields #form-user-name .label-message,
body .root #message-board #user-form .input-fields #form-user-message .label-user,
body .root #message-board #user-form .input-fields #form-user-message .label-message {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body .root #message-board #user-form .input-fields #form-user-name #input-user,
body .root #message-board #user-form .input-fields #form-user-name #input-message,
body .root #message-board #user-form .input-fields #form-user-message #input-user,
body .root #message-board #user-form .input-fields #form-user-message #input-message {
  width: 100%;
  height: 100%;
  border: 2px solid #d1d1d1;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
body .root #message-board #user-form .input-fields #form-user-name #input-user,
body .root #message-board #user-form .input-fields #form-user-message #input-user {
  border-radius: 0.5rem 0 0 0;
  border-bottom: 0;
  border-right: 0;
}
body .root #message-board #user-form .input-fields #form-user-name #input-message,
body .root #message-board #user-form .input-fields #form-user-message #input-message {
  border-radius: 0 0 0 0.5rem;
  border-right: 0;
}
body .root #message-board #user-form #form-submit-btn {
  padding: 0;
  margin: 0;
  height: 100%;
  flex: 1;
  border: 2px solid #d1d1d1;
  border-radius: 0 0.5rem 0.5rem 0;
}
body .root #message-board #user-form #form-submit-btn svg {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  border: 0;
}

@media screen and (max-width: 576px) {
  body .root .heading-bar,
  body .root .attribution {
    padding: 3px 0;
  }
  body .root .heading-bar h1,
  body .root .attribution h1 {
    margin: 0;
    padding: 2px;
    font-size: 1.8rem;
    font-family: "Jersey 15", sans-serif;
    font-weight: 100;
  }
  body .root .attribution span {
    font-size: 0.65rem;
    padding: 0.05rem 0;
    font-family: "Roboto", sans-serif;
  }
  body .root #message-board {
    padding: 0px 0.4rem;
    margin: 0;
  }
  body .root #message-board #message-chat-area {
    margin-top: 1rem;
    padding: 0 0.5rem;
    gap: 1.4rem;
  }
  body .root #message-board #message-chat-area .message {
    gap: 0.2rem;
  }
  body .root #message-board #message-chat-area .message .message-info {
    gap: 0.4rem;
  }
  body .root #message-board #message-chat-area .message .message-info .message-user-name {
    font-size: 0.8rem;
    font-weight: 600;
  }
  body .root #message-board #message-chat-area .message .message-info .message-added-date {
    font-size: 0.7rem;
    font-weight: 400;
  }
  body .root #message-board #message-chat-area .message .message-text p {
    font-size: 0.8rem;
  }
  body .root #message-board #user-form {
    padding: 0.7rem 0.5rem;
    max-height: 80px;
  }
  body .root #message-board #user-form .input-fields #form-user-name #input-user,
  body .root #message-board #user-form .input-fields #form-user-name #input-message,
  body .root #message-board #user-form .input-fields #form-user-message #input-user,
  body .root #message-board #user-form .input-fields #form-user-message #input-message {
    font-size: 0.7rem;
    padding-left: 0.6rem;
  }
  body .root #message-board #user-form #form-submit-btn svg {
    padding: 0.4rem;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .root {
    width: 80%;
    height: 80%;
    border: 1px solid #ffffff;
    border-radius: 2%;
    box-shadow: 0 0 10px 0.5px;
  }
  body .root .heading-bar,
  body .root .attribution {
    padding: 0.1rem 0;
  }
  body .root .heading-bar h1,
  body .root .attribution h1 {
    margin: 0;
    padding: 0.2rem 0;
    font-size: 2.4rem;
  }
  body .root .attribution {
    font-size: 0.9rem;
  }
  body .root .attribution a {
    color: #c5aac7;
  }
  body .root #message-board {
    padding: 0.5rem 0.8rem;
    margin: 0;
    flex: 1;
  }
  body .root #message-board p {
    padding: 0;
    margin: 0;
  }
  body .root #message-board #message-chat-area {
    margin-top: 1rem;
    padding: 0 0.5rem;
    gap: 1.2rem;
    flex: 7;
  }
  body .root #message-board #message-chat-area .message {
    gap: 0.2rem;
  }
  body .root #message-board #message-chat-area .message .message-info {
    gap: 0.4rem;
  }
  body .root #message-board #message-chat-area .message .message-info .message-user-name {
    font-size: 0.9rem;
    font-weight: 600;
  }
  body .root #message-board #message-chat-area .message .message-info .message-added-date {
    font-size: 0.7rem;
    font-weight: 400;
  }
  body .root #message-board #message-chat-area .message .message-text p {
    font-size: 0.9rem;
  }
  body .root #message-board #user-form {
    padding: 0.5rem 0.4rem;
    width: 100%;
    flex: 1;
    max-height: 100px;
  }
  body .root #message-board #user-form .input-fields {
    width: 90%;
  }
  body .root #message-board #user-form .input-fields #form-user-name #input-user,
  body .root #message-board #user-form .input-fields #form-user-name #input-message,
  body .root #message-board #user-form .input-fields #form-user-message #input-user,
  body .root #message-board #user-form .input-fields #form-user-message #input-message {
    border: 2px solid #d1d1d1;
    font-size: 0.9rem;
    padding-left: 0.7rem;
  }
  body .root #message-board #user-form .input-fields #form-user-name #input-user,
  body .root #message-board #user-form .input-fields #form-user-message #input-user {
    border-radius: 0.5rem 0 0 0;
    border-bottom: 0;
    border-right: 0;
  }
  body .root #message-board #user-form .input-fields #form-user-name #input-message,
  body .root #message-board #user-form .input-fields #form-user-message #input-message {
    border-radius: 0 0 0 0.5rem;
    border-right: 0;
  }
  body .root #message-board #user-form #form-submit-btn {
    padding: 0;
    margin: 0;
    border: 2px solid #d1d1d1;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
  }
  body .root #message-board #user-form #form-submit-btn svg {
    padding: 0.1rem;
    height: 100%;
    width: 100%;
    border: 0;
  }
}
@media screen and (min-width: 1600px) {
  body .root {
    width: 60%;
  }
}
